@import "../../__globalColors.css";

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.upperSpace {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px 20px;
  max-width: 1400px;
  box-sizing: border-box;
}
.lowerSpace-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--mainPurple-bgColor);
}
.lowerSpace {
  display: flex;
  max-width: 1400px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.links {
  font-size: 1.2rem;
  color: var(--mainWhite-color);
  padding: 10px 0;
}
.links:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: 860px) {
  .lowerSpace {
    justify-content: flex-start;
  }
  .links {
    margin: 0 15px;
    padding: 10px;
  }
}
