nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.upperSpace {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px 20px;
  max-width: 1400px;
  box-sizing: border-box;
}

.lowerSpace {
  display: flex;
  /* background-color: red; */
  max-width: 1400px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.links {
  margin: 0 15px;
  padding: 10px;
  font-size: 1.2rem;
}
.links:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
