@import "../../__globalColors.css";

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.upperSpace {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0px;
  max-width: 1400px;
  box-sizing: border-box;
  min-height: 60px;
}

.homeButton {
  margin: 0 20px;
  background-color: var(--mainPurple-bgColor);
  color: var(--mainWhite-color);
  font-size: 150%;
  min-width: 45px;
  min-height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  box-shadow: var(--mainBlack-shadow);
}

.upperSpace input {
  width: 100%;
  height: 34px;
  outline-width: 0;
  font-size: 14px;
  font-weight: 300;
  background-color: var(--secondaryGrey-bgColor);
  border: var(--mainGrey-border);
  color: var(--mainWhite-color);
  border-radius: 3px;
  padding: 6px 12px;
  box-shadow: var(--mainGrey-shadow);
}
.lowerSpace-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--mainPurple-bgColor);
}
.lowerSpace {
  display: flex;
  max-width: 1400px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.links {
  font-size: 1.2rem;
  color: var(--mainWhite-color);
  padding: 10px 0;
  text-align: center;
  min-width: 60px;
}
.links i {
  font-size: 130%;
}
.links:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: 860px) {
  .upperSpace input {
    max-width: 350px;
  }
  .lowerSpace {
    justify-content: flex-start;
  }
  .links {
    margin: 0 15px;
    padding: 10px 10px;
  }
}
