@import "../../__globalColors.css";

.outerSpace {
  display: flex;
  padding: 2px;
  height: 100%;
  align-items: center;
}

.photo {
  max-height: 156px;
  max-width: 110px;
}
.photo img {
  width: 100%;
}

.mainInformation-space {
  display: flex;
  flex-direction: column;
  width: calc(100% - 130px);
}
.mainInformation-space h3 {
  margin: 0;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--mainWhite-color);
}

.mainInformation-space ul {
  margin-top: 10px;
}
