.outerSpace {
  padding: 20px;
  display: flex;
  min-width: 100%;
}
.textSpace {
  width: 65%;
}
.descriptionSpace {
  max-height: 100px;
  max-width: 800px;
  overflow: hidden;
}
.photo {
  width: 35%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
