@import "../__globalColors.css";

.outerSpace {
  margin: 0 auto;
  width: 100%;
  min-width: 1400px;
  max-width: 1400px;
}
.booksSpace {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 15px;
}
.trendingBooks {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-top: calc(25px + 2px);
}
.button-Space {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1400px) {
  .outerSpace {
    min-width: 100%;
  }
}

@media (min-width: 840px) {
  .outerSpace {
    width: 80%;
  }
  .booksSpace {
    min-width: 900px;
    width: 60%;
  }
  .trendingBooks {
    min-width: 675px;
    max-width: 675px;
    width: 70%;
  }
}
@media (max-width: 940px) {
  .booksSpace {
    min-width: 100px;
    width: 100%;
  }
}
@media (min-width: 800px) {
  .outerSpace {
    padding: 0 20px;
  }
}
