@import "../__globalColors.css";

.outerSpace {
  margin: 0 auto;
  width: 100%;
  min-width: 1400px;
  max-width: 1400px;
}
.updatedBooks {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.bookSpace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.viewAll-Space {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 15px 0;
  border-bottom: var(--mainGrey-border);
}
.viewAll-Space h3 {
  margin-bottom: 15px;
  color: var(--mainWhite-color);
}
.viewAll-Space button {
  margin-bottom: 10px;
}

.trendingBooks {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-top: calc(25px + 2px);
}

@media (max-width: 1400px) {
  .outerSpace {
    min-width: 100%;
  }
}

@media (min-width: 840px) {
  .outerSpace {
    width: 80%;
  }
  .updatedBooks {
    min-width: 900px;
    width: 60%;
  }
  .trendingBooks {
    min-width: 675px;
    max-width: 675px;
    width: 70%;
  }
}
@media (max-width: 940px) {
  .updatedBooks {
    min-width: 100px;
    width: 100%;
  }
}
@media (min-width: 800px) {
  .outerSpace {
    padding: 0 20px;
  }
}
