@import "../../__globalColors.css";

.chapterLine-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.chapterLine-space span {
  color: var(--mainGrey-color);
}
.date {
  display: flex;
  float: right;
  justify-self: flex-end;
  color: var(--secondaryGrey-color);
  font-size: 12px;
}
