@import "./__globalColors.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #16151d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  text-decoration: none;
  box-sizing: border-box;
}
.centered {
  text-align: center;
}
.loading {
  color: var(--mainGrey-color);
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: purple;
}
.mainBlack-color {
  background-color: #16151d;
}
