@import "../../__globalColors.css";

.card-Book {
  border-radius: 9px;
  /* padding: 2px; */
  box-shadow: 0 2px 8px #202020;
  width: 100%;
  margin: 10px 0;
  background-color: var(--mainGrey-bgColor);
}
.card-BookMini {
  border-radius: 9px;
  box-shadow: 0 2px 8px #202020;
  width: calc(100% / 4.5);
  margin: 10px 10px;
  background-color: var(--mainGrey-bgColor);
}

@media (min-width: 860px) {
  .card-Book {
    min-width: 400px;
    max-width: 400px;
  }
  .card-BookMini {
    /* min-width: calc(100px + 200px); */
    max-width: 160px;
    /* max-height: 300px; */
  }
}
